.header{
  background: linear-gradient(to right, #672280, #A626D3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding-block: .5em;
}
.header>img{
  width: 70px;
}
.header h1{
  font-weight: 800;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
}

.form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;
  gap: 1em;
  max-width: 1000px;
}
.input-text{
  display: flex;
  flex-direction:column ;
  gap: .5em;
}
.input-text>label{
  font-weight: 600;
}
.input-text>input{
  border-radius: 5px;
  
  padding: .5em;
}
.form>button{
  background: linear-gradient(to right, #672280, #A626D3);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: pointer;
}

.meme{
  width: 80%;
  margin: 1em auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;

}
.meme>img{
  width: 100%;
  border-radius: 5px;
}
.meme>span{
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 4px 4px 4px black;
  margin-block: .5em;
  text-transform: uppercase;

}

.top{
  top: 0;
}
.bottom{
  bottom: 0;
}

@media (min-width:800px){
  .input-text{
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .input-text>input{
    flex: 1;
    font-size: 1.2rem;
  }
  .meme>span{
    font-size: 4rem;
  }
}
